ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  #box{
      width: 990px;
      height: 604px;
      margin: auto;
      display: flex;
      justify-content: space-between;
  }
  #leftBarBox{
    width:460px;
    height:604px;
    background-color: #42b983
  }
  #rightBarBox{
    width:530px;
    height:604px;
    background-color: pink
  }